/*Override main.css*/
@media screen and (min-width: 1280px){
    .wrapper{
        padding: 2em 0 4em 0;
    }
}

header.major{
    margin: 0 0 2em 0;
}

form{
    margin: 0;
}

#footer{
    padding: 2em 0;
}

ol li{
    padding-left: 0;
}

/*End*/

.label{
    margin: 0 auto;
}

.message{
    color: white;
    width: 25em;
    margin-top: 1em; 
    padding: .75rem 2rem;
    border: 1px solid;
    border-radius: .25rem;
}

.message.success{
    background-color: #28a745;
    border-color: #1f7f35;
}

.message.error{
    background-color: #dc3545;
    border-color: #d42537;
}

.message.info{
    background-color: #007bff;
    border-color: #006fe6;
    list-style-type: none;
}

tr .button{
    visibility: hidden;
}

tr:hover .button{
    visibility: visible;
}